                @font-face
                   {
                       font-family: Bellova;
                       src: url('Fonts/Bellova.otf'),
                            url('Fonts/Bellova.eot'); /* IE9+ */
                   }

                   @font-face
                   {
                       font-family: Volter;
                       src: url('Fonts/Volte.ttf'),
                            url('Fonts/Volte.eot'); /* IE 9+ */
                   }

                   @font-face
                   {
                       font-family: Adriattica;
                       src: url('Fonts/Adriattica.otf'),
                            url('Fonts/Adriattica.eot'); /*IE */
                   }

                   @font-face
                   {
                       font-family: Comic Sans MS;
                       src: url('Fonts/comic.ttf'),
                            url('Fonts/comic.eot'); /* IE 9+ */
                   }

                   form {
                       font-family: Bellova;
                   }

                   #password, #confirm {
                       font-family: Volter;

                   }

                   #username {
                       font-family: Adriattica;
                   }

                   #success {
                   color: red;
                   text-align: center;
                   }

                   #submit, #button {
                       font-family: Volter;
		       
                   }

                input, select {
		    text-align:center;
		    border:0px solid #333;
		    width:200px;
		    height:20px;
		    border-radius:30px; /* CSS3 border radius, makes it rounded */
		    }

		#volter {
		        font-family: Volter;
		}

                   body {
                       float: left;
                       width: 30%;
                   }

                   article {

                   box-shadow: 10px 10px 5px #888888;

                   border:2px double; /* Border */

                   border-radius:25px; /* CSS3 border radius, makes it rounded */

                   padding: 5px; /* Padding to make the text look better */

                   background: #BCBCBF;

                   transform: translate(115%,50%); /* CSS3 used to move the article */

                   -ms-transform: translate(115%,50%); /* IE 9 */

                   -webkit-transform: translate(115%,70%); /* Safari and Chrome */

                   -o-transform: translate(115%,50%); /* Opera */

                   -moz-transform: translate(115%,50%); /* Firefox */

                   margin: 0px;

                   text-align: center;

                   word-wrap:break-word; /* Breaks words */


                   }


                   article#ua {

                   box-shadow: 10px 10px 5px #888888;

                   border:2px double; /* Border */

                   border-radius:25px; /* CSS3 border radius, makes it rounded */

                   padding: 6px; /* Padding to make the text look better */

                   transform: translate(0%,0%); /* CSS3 used to move the article */

                   -ms-transform: translate(0%,0%); /* IE 9 */

                   -webkit-transform: translate(0%,0%); /* Safari and Chrome */

                   -o-transform: translate(0%,0%); /* Opera */

                   -moz-transform: translate(0%,0%); /* Firefox */

                   text-align: left;


                   }
                   article#success {

                   box-shadow: 0px 0px 0px #FFFFFF;

                   border:1px groove black; /* Border */

                   border-radius:0px; /* CSS3 border radius, makes it rounded */

                   padding: 6px; /* Padding to make the text look better */

                   transform: translate(0%,0%); /* CSS3 used to move the article */

                   -ms-transform: translate(0%,0%); /* IE 9 */

                   -webkit-transform: translate(0%,0%); /* Safari and Chrome */

                   -o-transform: translate(0%,0%); /* Opera */

                   -moz-transform: translate(0%,0%); /* Firefox */


         }

                   object {
                       width:1024px;
                       margin:0 auto;

                   }


                   .text-left {
                   text-align: left;

                   }

                   #sans {
                       font-family: Comic Sans MS;
                   }


                               td#sexy {
                               border: 2px red;
                               border-color: red;
                               }

                               section#users {
                               border: 2px red;
                               border-color: red;
                               }
                               table#users {
                               background-color: RED;
                               }
			       
			       
#triangle-right {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid red;
	border-bottom: 25px solid transparent;
}

#triangle-left {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid red;
	border-bottom: 25px solid transparent;
}
		    
			       
		